.show {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 64px;
}

.product {
    width: 1551px;
    height: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #77A0A4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    Width: 1493px;
    Height: 123px;
    border-bottom: 2px solid #77A0A4;
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.76px;
    text-align: left;
}

.title .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    color: #6E7C7E;
}

.info .review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #77A0A4;
}

.show-box {
    margin-top: 20px;
    Width: 1493px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.show-box .main-specs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 450px;
    height: 460px;
}

.main-specs h1 {

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
}

.main-specs h6 {
    width: 230px;
    margin-right: 20px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;
    color: #6E7C7E;

}

.main-specs p {
    width: 160px;
    margin: 0;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    text-align: left;
}

.main-specs a {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.29px;
    text-align: left;

    color: #77A0A4;
}

.main-specs .specs {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.show-box .product-preview {
    width: 509px;
    height: 509px;
    padding: 20px;
    object-fit: contain;
    object-position: center;

}

.buy {
    width: 400px;
    height: 436px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 30px rgba(119, 160, 164, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
}

.link {
    width: 312.96px;
    height: 60px;
    border-radius: 15px;
    padding: 0;
    margin: 10px;
    background: #77A0A4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
    color: #FFFFFF;
}